html, body{
    width: 100%;
}


.topbar {
    background: #f5b305;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    justify-content: center;
}

ul{
    display: flex;
    list-style-type: none;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.bar{
    margin-top: 15px;
}



.topbar .bar .bar-item{
    display: flex;
    margin: 10px;
    justify-content: center;
    text-align: center;
    
}

.bar .bar-item .bar-link {
    text-decoration: none;
    color: #2074e8;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.bar .bar-item .bar-link:hover {
    color: rgb(47, 78, 124)
}

